/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    list-style-type: none;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    --border-color: #D9D9D9;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

input {
    font-size: 100%;
}

/****** HEADER ***********/

header {
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    height: 100px;
    margin-top: -22px;
}

header img {
    max-width: 61px;
    margin-top: 5px;
}

header nav {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    margin-top: 5px;
}

header .border-blue {
    padding: 30px;
}

header .border-blue:hover {
    border-top: solid 3px var(--main-color);
    color: var(--main-color);
    padding: 28px;
}

/**** SEARCH ****/

#search {
    margin-bottom: 30px;
}

#search h1,
#search p {
    margin-top: 5px;
    margin-bottom: 10px;
}

#location-search {
    display: flex;
    align-items: center;
    font-size: 16px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.fa-map-marker-alt {
    position: relative;
    left: 0px;
    border-radius: 12px 0 0 12px;
    background-color: var(--main-bg-color);
    padding: 17px;
    height: 20px;
}

#location-input {
    position: relative;
    right: 2px;
    height: 32px;
    width: 250px;
    color: black;
    border: none;
    font-weight: bold;
    border-top: 1px solid var(--main-bg-color);
    border-bottom: 1px solid var(--main-bg-color);
    padding: 10px;
}

#search-button {
    position: relative;
    right: 3px;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    background-color: var(--main-color);
    border: none;
    border-radius: 0 12px 12px 0;
    height: 52px;
    padding: 9px 12px 9px 12px;
    cursor: pointer;
    display: block;
}

#search-button-smalldevice {
    display: none;
    position: relative;
    right: 3px;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    background-color: var(--main-color);
    border: none;
    border-radius: 12px 12px 12px 12px;
    height: 52px;
    padding: 9px 12px 9px 12px;
    width: 65px;
}

/***** FILTRES ******/

#filters {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

#filters h2 {
    margin-top: 8px;
}

#filter-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.filter {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--border-color);
    border-radius: 25px;
    padding-right: 10px;
}

.filters-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-color);
    width: 42px;
    height: 42px;
    margin: -2px;
    border-radius: 50%;
}

.filter span {
    font-weight: bold;
    font-size: 16px;
    padding: 0 4px 0 2px;
}

.filter:hover {
    background-color: var(--filter-bg-color);
    cursor: default;
}

.search-result-info {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.search-result-info .fa-info {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-color);
    border: 1px solid var(--border-color);
    width: 5px;
    height: 5px;
    border-radius: 25px;
    padding: 10px;
    margin-right: 10px;
}

.search-result-info > p {
    margin-top: 8px;
    margin-bottom: 8px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** HEBERGEMENTS ***********/
#hebergements {
    width: 65%;
}

#hebergements h2,
#hebergements h4 {
    margin-bottom: 15px;
}

.hebergements-cardslist {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hebergements-cards {
    background-color: white;
    width: 30%;
    min-width: 120px;
    padding: 5px;
    margin: 15px 0;
    border-radius: 15px;
}

.hebergements-cardslist img {
    width: 100%;
    height: 124px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.hebergements-cards h3 {
    margin: 7px 0 7px 15px;
}

.hebergements-cards p {
    margin: 5px 0 5px 15px;
}

.hebergements-cards .card-rating {
    margin: 5px 0 5px 15px;
}

/****** POPULAIRES ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** ACTIVITES ***********/

#activites {
    width: 96%;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 2%;
}

.activites-list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
}

.activite-card {
    background-color: white;
    width: 23%;
    min-width: 100px;
    margin: 15px 0;
    border-radius: 15px;
    box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);
}

.activites-list img {
    width: 100%;
    height: 380px;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}

#activites h3 {
    margin-left: 7%;
}

/****** FOOTER ***********/
footer {
    max-width: 1440px;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    background-color: var(--main-bg-color);
    padding: 10px 35px;
}

.footer-menu {
    width: 32%;
}

.footer-menu ul {
    padding-left: 0;
    line-height: 30px;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    #hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activites-list img {
        height: 200px;
    }

    .activites h3 {
        font-size: 18px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */

    .main-container {
        padding: 0;
    }

    main {
        margin: 15px;
    }

    #header {
        display: flex;
        justify-content: center;
        margin: auto;
        align-items: center;
        height: 120px;
        flex-direction: column;
    }

    #header nav {
        display: flex;
        justify-content: space-between;
        font-size: 17px;
        margin-top: 15px;
        width: 100%;
    }

    #header .border-blue {
        padding: 10px;
        border-bottom: solid 3px lightgray;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    #header .border-blue:hover {
        border-bottom: solid 3px var(--main-color);
        border-top: none;
        color: var(--main-color);
        padding: 10px;
    }

    #search-button {
        display: none !important;
    }

    #search-button-smalldevice {
        display: block !important;
    }

    #filter-list {
        display: flex;
        justify-content: center;
    }

    #filter-list .filter {
        width: 39%;
        height: 48px;
    }

    #location-search #location-input {
        width: 100%;
    }

    #activites {
        width: 100%;
        margin-left: 0;
    }

    #activite-div {
        padding: 0 30px 0 30px;
    }

    .activite-card {
        width: 100%;
    }

    .activites-list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .activites h3 {
        font-size: 18px;
    }

    .activites h3 {
        font-size: 18px;
    }

    .activite-card img {
        height: 141px;
    }

    .hebergements-and-populaires {
        flex-direction: column-reverse;
        justify-content: space-between;
    }

    #hebergements {
        width: 100%;
        background-color: white;
    }

    .hebergements-cards {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        padding: 0;
        box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);
    }

    .hebergements-title h2 {
        font-size: 18px;
    }

    #populaires {
        width: 100%;
        margin-bottom: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 100%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    footer {
        display: flex;
        flex-direction: column;
    }

    .footer-menu {
        width: 100%;
    }
}


